html,
body {
    height: 100%;
}

#content {
    display: flex;
    flex-direction: column;
    height: 100%;
    font: 'Consolas', 'Courier New', 'monospace';
}

.inspect-title {
    font-weight: bold;
    padding-top: 0.5rem;
}

.inspector-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.inspector-data {
    display: grid;
    grid-template-columns: fit-content(100px) 1fr;
    gap: 0.5rem;
    max-height: calc(100% - 2rem);
}

.inspector-eval {
}

.inspector-eval-text {
    height: 1.5rem;
    line-height: 1.5rem;
    width: calc(100% - 7px);
    border-radius: 5px;
    border: 1px solid var(--vscode-editor-foreground);
    color: 1px solid var(--vscode-editor-foreground);
    background-color: var(--vscode-editor-background);
}

.inspector-eval-text:focus {
    outline: none;
}

.inspector-row-key {
    border-right: 1px solid var(--vscode-editor-foreground);
}

.inspector-row-value {
    overflow: auto;
}

.inspector-array-index {
    text-align: right;
}

.inspect-item {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.inspect-action-box {
    display: inline-block;
}

.inspect-action-box button {
    background: unset;
    border: unset;
    cursor: pointer;
}

.inspect-btn-value {
    color: #55dd55;
}

.inspect-btn-action {
    color: #ffbbcc;
}