html,
body {
    width: 100%;
    height: 100%;
}

#content {
    height: 100%;
    font: 'Consolas', 'Courier New', 'monospace';
}

.inspect-title {
    font-weight: bold;
    padding-top: 0.5rem;
}

.inspector-content {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: calc(100% - 3rem);
}

.inspector-data {
    flex-grow: 1;
    display: grid;
    grid-template-columns: fit-content(100px) 1fr;
    gap: 0.5rem;
    height: calc(100% - 3rem);
}

.inspector-eval {
    height: 3rem;
    background-color: red;
}

.inspector-row-key {
    border-right: 1px solid var(--vscode-editor-foreground);
}

.inspector-row-value {
    overflow: auto;
}

.inspector-array-index {
    text-align: right;
}

.inspect-item {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.inspect-action-box {
    display: inline-block;
}

.inspect-action-box button {
    background: unset;
    border: unset;
    cursor: pointer;
}

.inspect-btn-value {
    color: #55dd55;
}

.inspect-btn-action {
    color: #ffbbcc;
}