html,
body {
    height: 100%;
}

#content {
    font-family: var(--vscode-editor-font-family);
    font-size: var(--vscode-editor-font-size);
    font-weight: var(--vscode-editor-font-weight);
}

.title {
    width: 50px;
    font-size: 1.25rem;
    font-weight: bold;
}

body.vscode-dark {
    --list-background: #222;
}

body.vscode-light {
    --list-background: #eee;
}

body.vscode-dark .list-box {
    overflow: auto;
    margin-left: 0.5rem;
    padding: 0.5rem;
    background: #222;
    border-radius: 5px;
}

body.vscode-light .list-box {
    margin-left: 0.5rem;
    padding: 0.5rem;
    background: #eee;
    border-radius: 5px;
}

.condition-box {
    margin-bottom: 1.5rem;
}

.restarts-box {
    margin-bottom: 1.5rem;
}

.restart-item {
    line-height: 1.25rem;
}

.backtrace-box {
    display: grid;
    grid-template-columns: max-content minmax(0, 1fr);
    row-gap: 1rem;
}

debug-backtrace-item {
    display: contents;
}

.backtrace-index {
    flex-shrink: 1;
    margin-right: 0.5rem;
}

.backtrace-location {
    display: flex;
    flex-direction: column;
    border-left: 1px solid;
    padding-left: 0.25rem;
}

.backtrace-vars {
    margin-left: 1rem;
    display: grid;
    grid-template-columns: min-content auto;
    column-gap: 0.5rem;
    row-gap: 0.25rem;
}

.backtrace-vars-label {
    display: flex;
    align-items: center;
}

.clickable {
    cursor: pointer;
    color: var(--vscode-textLink-foreground);
}

.clickable:hover {
    background: green;
    color: yellow;
}

.is-hidden {
    display: none;
}

button {
    cursor: pointer;
    border: none;
    background: var(--list-background);
    color: var(--vscode-editor-foreground);
}
