html {
  height: calc(100% - 0.3rem);
}

body {
  display: flex;
  flex-direction: column;
  height: calc(100% - 0.1rem);
  color: var(--vscode-editor-foreground);
  background-color: var(--vscode-editor-background);
  padding: 0 10px;
}

#root,
.repl-container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 0.1rem);
  color: var(--vscode-editor-foreground);
  background-color: var(--vscode-editor-background);
}

.repl-output {
  overflow: auto;
  flex-grow: 1;
  border-bottom: 1px solid var(--vscode-editorWidget-border);
  font-family: var(--vscode-editor-font-family);
  font-size: var(--vscode-editor-font-size);
  font-weight: var(--vscode-editor-font-weight);
  padding: 0.5em 0;
}

.repl-input-container {
  margin-top: 0.5rem;
}

.repl-output-container {
  margin: 0;
}

.repl-output-container:last-of-type {
  margin-bottom: 0.5rem;
}

.repl-output-item {
  margin: 0.2rem;
  white-space: pre;
}

.repl-output-package {
  color: var(--vscode-editorLink-activeForeground);
}

.repl-input-box {
  display: flex;
  flex-direction: column;
  font-family: var(--vscode-editor-font-family);
  font-size: var(--vscode-editor-font-size);
  font-weight: var(--vscode-editor-font-weight);
}

.repl-input-text-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: var(--vscode-editor-font-family);
  font-size: var(--vscode-editor-font-size);
  font-weight: var(--vscode-editor-font-weight);
}

.repl-input-form {
  flex-grow: 1;
  font-family: var(--vscode-editor-font-family);
  font-size: var(--vscode-editor-font-size);
  font-weight: var(--vscode-editor-font-weight);
}

.repl-input-label {
  text-align: right;
  display: inline-block;
  height: 1.5rem;
  line-height: 1.5rem;
  cursor: pointer;
}

.repl-input-text {
  color: var(--vscode-editor-foreground);
  caret-color: var(--vscode-editor-foreground);
  background-color: var(--vscode-editor-background);
  font-family: var(--vscode-editor-font-family);
  font-size: var(--vscode-editor-font-size);
  font-weight: var(--vscode-editor-font-weight);
  border: none;
  height: 1.5rem;
  line-height: 1.5rem;
  width: 95%;
  margin-left: 0.3rem;
}

input:focus,
select:focus {
  outline: none;
}
