html {
    height: calc(100% - 0.3rem);
}

body {
    display: flex;
    flex-direction: column;
    height: calc(100% - 0.1rem);
    color: var(--vscode-editor-foreground);
    background-color: var(--vscode-sideBar-background);
}

.inspector-panel-input-box {
    display: flex;
    flex-direction: column;
}

.inspector-panel-input-text-box {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.inspector-panel-input-form {
    flex-grow: 1;
}

.inspector-panel-input-label {
    text-align: left;
    display: inline-block;
    cursor: pointer;
}

.inspector-panel-input-text {
    color: var(--vscode-activityBar-foreground);
    caret-color: var(--vscode-editor-foreground);
    background-color: var(--vscode-activityBar-background);
    border: none;
    border-radius: 5px;
    height: 1.5rem;
    line-height: 1.5rem;
    width: 100%;
}

input:focus,
select:focus {
    outline: none;
}
