#content {
    font: 'Consolas', 'Courier New', 'monospace';
}

#condition {
    margin-bottom: 1.5rem;
}

#restarts {
    margin-bottom: 1.5rem;
}

.title {
    font-size: 1.25rem;
    font-weight: bold;
}

body.vscode-dark .list-box {
    margin-left: 0.5rem;
    padding: 0.5rem;
    background: #222;
    border-radius: 5px;
}

body.vscode-light .list-box {
    margin-left: 0.5rem;
    padding: 0.5rem;
    background: #eee;
    border-radius: 5px;
}

.list-item {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background: green;
    color: yellow;
}

.frame-table {
    width: 100%;
}

.frame-num-cell {
    vertical-align: top;
    width: 1rem;
    text-align: right;
}

.frame-btn-cell {
    vertical-align: top;
    width: 1rem;
    text-align: center;
}

body.vscode-dark .locals-box {
    background: #555;
    border: 1px solid #999;
    border-radius: 0 0 5px 5px;
}

body.vscode-light .locals-box {
    background: #ccc;
    border: 1px solid #999;
    border-radius: 0 0 5px 5px;
}

.locals-title {
    padding-left: 0.5rem;
}

.locals-var {
    padding-left: 1.5rem;
}

body.vscode-dark .debug-btn {
    background: #999;
    color: black;
}

body.vscode-light .debug-btn {
    background: #ddd;
    color: var(--vscode-editor-foreground);
}

.restart-btn {
    width: 1rem;
    padding: unset;
    border-radius: 4px;
}

.eval-btn {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    border-radius: 4px;
}

.eval-box {
    display: table;
    width: 100%;
    margin-top: 0.25rem;
}

.eval-row {
    display: table-row;
}

.eval-label {
    display: table-cell;
    padding-left: 0.5rem;
    width: 3rem;
    text-align: center;
}

.eval-input.box {
    display: table-cell;
}

body.vscode-dark .eval-input {
    width: calc(100% - 5.5rem);
    height: 1.25rem;
    line-height: 1.25rem;
    border-radius: 4px;
    border: unset;
    margin: unset;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    background: #999;
    color: black;
}

body.vscode-light .eval-input {
    width: calc(100% - 5.5rem);
    height: 1.25rem;
    line-height: 1.25rem;
    border-radius: 4px;
    border: unset;
    margin: unset;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    background: #fff;
    color: var(--vscode-editor-foreground);
}

.eval-result-box {
    margin-top: 0.25rem;
}

body.vscode-dark .eval-result {
    width: calc(100% - 5.5rem);
    height: 1.25rem;
    line-height: 1.25rem;
    border-radius: 4px;
    border: unset;
    margin: unset;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    background: #333;
    color: #ccc;
}

body.vscode-light .eval-result {
    width: calc(100% - 5.5rem);
    height: 1.25rem;
    line-height: 1.25rem;
    border-radius: 4px;
    border: unset;
    margin: unset;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    background: #eee;
    color: var(--vscode-editor-foreground);
}
