#content {
    background: red;
}

#condition {
    background: yellow;
    color: black;
    margin-bottom: 1.5rem;
}

#backtrace {
    background: green;
}

#restarts {
    background: blue;
    margin-bottom: 1.5rem;
}
