html,
body {
    height: 100%;
    color: var(--vscode-editor-foreground);
    background-color: var(--vscode-editor-background);
}

.repl-text {
    color: red;
    height: calc(100% - 5rem);
}

textarea {
    width: 100%;
    color: var(--vscode-editor-foreground);
    background-color: var(--vscode-editor-background);
    animation-name: blink;
    border: none;
}

textarea:focus {
    border: none;
    outline: none;
}

table {
    width: 100%;
}

table #prompt {
    width: 1%;
    white-space: nowrap;
    vertical-align: top;
}

table #prompt-input {
    width: 100%;
}
