html {
    height: calc(100% - 0.3rem);
}

body {
    display: flex;
    flex-direction: column;
    height: calc(100% - 0.1rem);
    color: var(--vscode-editor-foreground);
    background-color: var(--vscode-editor-background);
}

.repl-text {
    overflow: auto;
    resize: none;
    flex-grow: 1;
    border-bottom: 1px solid var(--vscode-editor-foreground);
    font-family: var(--vscode-editor-font-family);
    font-size: var(--vscode-editor-font-size);
    font-weight: var(--vscode-editor-font-weight);
}

.repl-text:focus {
    border-bottom: 1px solid var(--vscode-editor-foreground);
}

#repl-user-input-box {
    display: none;
    font-family: var(--vscode-editor-font-family);
    font-size: var(--vscode-editor-font-size);
    font-weight: var(--vscode-editor-font-weight);
}

#repl-user-input-form {
    flex-grow: 1;
    font-family: var(--vscode-editor-font-family);
    font-size: var(--vscode-editor-font-size);
    font-weight: var(--vscode-editor-font-weight);
}

.repl-input-box {
    display: flex;
    flex-direction: column;
    font-family: var(--vscode-editor-font-family);
    font-size: var(--vscode-editor-font-size);
    font-weight: var(--vscode-editor-font-weight);
}

.repl-input-text-box {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    font-family: var(--vscode-editor-font-family);
    font-size: var(--vscode-editor-font-size);
    font-weight: var(--vscode-editor-font-weight);
}

.repl-input-form {
    flex-grow: 1;
    font-family: var(--vscode-editor-font-family);
    font-size: var(--vscode-editor-font-size);
    font-weight: var(--vscode-editor-font-weight);
}

.repl-input-label {
    text-align: right;
    display: inline-block;
    height: 1.5rem;
    line-height: 1.5rem;
    cursor: pointer;
}

.repl-input-text {
    color: var(--vscode-editor-foreground);
    caret-color: var(--vscode-editor-foreground);
    background-color: var(--vscode-editor-background);
    font-family: var(--vscode-editor-font-family);
    font-size: var(--vscode-editor-font-size);
    font-weight: var(--vscode-editor-font-weight);
    border: none;
    height: 1.5rem;
    line-height: 1.5rem;
    width: 95%;
}

input:focus,
select:focus {
    outline: none;
}

textarea {
    width: 100%;
    color: var(--vscode-editor-foreground);
    background-color: var(--vscode-editor-background);
    font-family: var(--vscode-editor-font-family);
    font-size: var(--vscode-editor-font-size);
    font-weight: var(--vscode-editor-font-weight);
    animation-name: blink;
    border: none;
}

textarea:focus {
    border: none;
    outline: none;
}

table {
    width: 100%;
}

table #prompt {
    width: 1%;
    white-space: nowrap;
    vertical-align: top;
}

table #prompt-input {
    width: 100%;
}
